:root {
    --red-color: #E50914;
    --black-color: #141414;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos base */

body {
    background: var(--black-color);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--red-color);
    font-family: 'Arial black';
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* Filme Principal */

.main-film {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)100%), url(/imgs/pkblinders.png);

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-film .description {
    margin-bottom: 40px;
    margin-top: 10px;
}

.title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.btn:hover {
    background-color: white;
    color: black;
}

.btn i {
    margin-right: 8px;
}

.container {
    margin-left: 10px;
}

.main-film .container {
    width: 70%;
}

.box-film {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-films {
    margin-top: 5px;
}